.wrapper {
  min-height: 6rem;
}

.container,
.container > a {
  min-height: 6rem;
}

.brand {
  font-size: 2rem;

  &-text {
    margin-left: 0.6rem;
    font-weight: bold;
  }
}

.brand > img {
  width: 4rem;
  height: 4rem;
}

.button-logout {
  & > img {
    width: 4rem;
    height: 4rem;
  }
  & > div {
    font-size: 1.6rem;
    margin-left: 1rem;
  }
}

.welcome {
  margin-right: 1rem;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}
